{% extends "layout.html" %}
{% block title %}Summary Statistics{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="card shadow-sm">
            <div class="card-header bg-primary text-white">
                <h4 class="mb-0">Summary Statistics</h4>
            </div>
            <div class="card-body">
                <p class="card-text">Below are the summary statistics of your CSV data:</p>
                {{ summary_stats | safe }}
                <a href="{{ url_for('data_alteration', filename=filename) }}" class="btn btn-primary mt-3">Alter Data</a>
                <a href="{{ url_for('visualize', filename=filename) }}" class="btn btn-primary mt-3">Visualize Data</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
